@font-face{
    font-family: "raleway";
    src: url(../fonts/Raleway-Regular.ttf);
}

.main-section{font-family: "raleway";}
.main-section .title{padding-left: 5rem;position: relative;}
.main-section .title::before{position: absolute;content: '';width: 4rem;height: 2px;background: #03b1f0;top: 50%;left: 0;transform: translateY(-50%);}
.main-section .title-bold{font-size:42px;}
.main-section .img-gallary-main .img-main{border-radius: 10px;}
.main-section .img-gallary-main .img-p-div{position: relative;margin-bottom: 20px;cursor: pointer;}
.main-section .img-gallary-main .img-p-div .glass-div{position: absolute;bottom: 0;left: 0;background-color: #ffffffa8;}
